/*
/////////////////////////////////////////////////////////////
/// Escapausorus v1 (2020)
///	A quick and dirty framework to create small adventure game (certified vanilla JS)
/// Author: Stéphanie Mader (http://smader.interaction-project.net)
/// GitHub: https://github.com/RedNaK/escaposaurus
///	Licence: MIT
////////////////////////////////////////////////////////////
*/

/* by default there is no margin or padding anywhere */
* {
  margin: 0px;
  padding: 0px;
}
a {
  color: #3DB956;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #349547;
  text-decoration: none;
  cursor: pointer;
}
body {
  font-family: Arial;
}

/*on veut la lightbox devant*/
.lightbox-container {
  z-index: 302;
}

video {
  object-fit: contain;
  max-width: 800px;
  max-height: calc(100vh - 24rem);
}

@font-face {
  font-family: Roboto;
  src: url("img/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: Odibee;
  src: url("img/fonts/Odibee_Sans/OdibeeSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Rustichome;
  src: url("img/fonts/Rustichome/Rustichome.otf") format("opentype");
}
@font-face {
  font-family: Woodcut;
  src: url("img/fonts/Woodcut/Woodcut.ttf") format("truetype");
}
@font-face {
  font-family: Woodtrap;
  src: url("img/fonts/Woodtrap/Woodtrap.otf") format("opentype");
}

/*size of the countainer defined to fit most used screen resolution*/
/*main div container*/
#main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr) auto;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;

  background: url(img/background.jpg);
  background-position: center;
  background-color: #84D0FD;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-game-div {
  flex: auto;
}

#main-container-index {
  max-width: 1300px;
  max-height: 800px;
  margin: auto;
  height: 100%;
  border: 1px solid #1022cc;
  text-align: center;
  position: relative;
}

#container-homeMission {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-homeMission {
  padding: 2rem;
  margin-top: 1rem;
  background-color: #dcdcdc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#home-gameTitle,
#os-name {
  width: 800px;
  color: white;
  font-size: 34px;
  font-family: Woodcut;
  text-transform: uppercase;
  animation: floatingTitle 7s ease-in-out infinite;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#home-gameTitle {
  color: black;
}

#normal-contact {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#help-contact {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*shared style for app*/
.app-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #3DB956;
  color: white;
}

.app-title-span {
  font-family: Odibee;
  font-size: 30px;
}

/*call app*/
#callApp {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FBE7BE;
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
}

#callApp-help,
#callApp-prompt {
  font-size: 18px;
  color: black;
  padding: 0 10px;
}

#callApp-help {
  margin-top: 10px;
}

.contact-list {
  padding: 0 10px;
  margin: 10px 0;
  text-align: left;
}

.contact-div {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  background-color: white;
}

.contact-div:hover {
  background-color: lightgray;
  cursor: pointer;
}

.contact-avatar {
  object-fit: cover;
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

.no-call {
  font-weight: normal;
  font-style: italic;
  background-color: rgb(126, 126, 126);
  opacity: 0.5;
}

.no-call:hover {
  background-color: rgb(110, 110, 110);
}

.already-called {
  font-weight: normal;
}

/* udisk app*/
#folderApp {
  max-width: 345px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: #FBE7BE;
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
}

#folderApp-content {
  flex: 1;
  overflow: auto;
  padding: 10px;
  text-align: left;
}

.window-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 100ms ease-out;
  background-color: rgba(0, 0, 0, 0.4);
}

.window-wrapper:has(> .hidden) {
  background-color: transparent;
  pointer-events: none;
}

#overlay-index {
  width: 100%;
  height: 100%;
  background-color: #fbe7be;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*the "windows" we open for video and message/password*/
#callVideo-window,
#UIvid-window,
#notnowPrompt-window,
#passPrompt-window,
#wrongPassword,
#newContact-window,
#calling-window,
#message-window,
#nocall-window,
#solution-window,
#credit-window {
  border: 2px solid black;
  border-radius: 16px;
  background-color: #fbe7be;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#callVideo-window,
#UIvid-window {
  z-index: 305;
}

#callVideo-content {
  padding: 1rem;
}

#notnowPrompt-window,
#passPrompt-window,
#wrongPassword,
#newContact-window,
#calling-window,
#message-window,
#nocall-window,
#solution-window,
#credit-window {
  z-index: 300;
  width: 200px;
}

#solution-window {
  width: 400px;
}

#credit-window {
  width: 400px;
}

/*we override part of the lightbox style*/
.lightbox-image {
  max-height: 90vh;
}

#notnowPrompt-window button,
#passPrompt-window button,
#wrongPassword button,
#newContact-window button,
#UIvid-window button,
#callVideo-window button,
#calling-window button,
#message-window button,
#nocall-window button,
#solution-window button,
#credit-window button,
#overlay-index button {
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 100ms ease-out;
  margin-bottom: 1rem;
}

#notnowPrompt-window button:hover,
#passPrompt-window button:hover,
#wrongPassword button:hover,
#newContact-window button:hover,
#UIvid-window button:hover,
#callVideo-window button:hover,
#calling-window button:hover,
#message-window button:hover,
#nocall-window button:hover,
#solution-window button:hover,
#credit-window button:hover,
#overlay-index button:hover {
  background-color: #aaa;
  cursor: pointer;
}

.message-content {
  text-align: center;
  color: black;
  padding: 5px;
}

#passwordInput {
  text-align: center;
  color: black;
  margin: 5px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 3rem;
  padding: 1rem 0;
  width: 100%;
  background-color: #3DB956;
  text-align: center;
}

.footer-button {
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 100ms ease-out;
}

.footer-button:hover {
  background-color: #aaa;
  cursor: pointer;
}

#password {
  font-size: 14px;
}

.hidden {
  display: none;
}

/*to stylize placeholder in text input in different browser...*/
::-webkit-input-placeholder {
  /* Edge */
  color: grey;
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: grey;
  text-align: center;
}

::placeholder {
  color: grey;
  text-align: center;
}

/*class that deals with the udrive content, tread carefully, it is working ok but very capricious*/
ul {
  margin: 0px 0px 0px 20px;
  list-style: none;
  line-height: 2em;
  font-family: Arial;
}

.arbo,
.folder {
  font-size: 16px;
  position: relative;
}

.arbo:before {
  position: absolute;
  left: -15px;
  top: 0px;
  content: "";
  display: block;
  border-left: 1px solid #000;
  height: 1em;
  border-bottom: 1px solid #000;
  width: 10px;
}

.folder-name {
  background: url("img/iconFolder.png") left center no-repeat;
  content: "";
  display: inline-block;
  padding-left: 20px;
  height: 25px;
}

.protected-name {
  background: url("img/iconPassword.png") left center no-repeat;
  content: "";
  display: inline-block;
  padding-left: 20px;
  height: 25px;
}

.protected-name:hover {
  cursor: pointer;
}

.file-name {
  background: url("img/iconFile.png") left center no-repeat;
  content: "";
  display: inline-block;
  padding-left: 20px;
  height: 25px;
}

.file-name:hover {
  cursor: pointer;
}

.arbo:after {
  position: absolute;
  left: -15px;
  bottom: -7px;
  content: "";
  display: block;
  border-left: 1px solid #000;
  height: 100%;
}

#rootul {
  color: #3DB956;
}

.rootLI {
  font-size: 16px;
  margin: 0px 0px 0px -20px;
}

.arbo:last-child:after {
  display: none;
}

@keyframes floatingTitle {
  0% {
    transform: translateY(2px) scale(1) rotateZ(-1deg);
  }

  50% {
    transform: translateY(-1px) scale(1.05) rotateZ(1.5deg);
  }

  100% {
    transform: translateY(2px) scale(1) rotateZ(-1deg);
  }
}

/*for the animation of the windows we open and close*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}
